version: '3'

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    command: ["mongod", "--replSet", "rs0"]
    restart: always
    volumes:
      - rocketchat-mongo-temp:/data/db
    ports:
      - 27017:27017

  mongo-init-replica:
    image: mongo:6.0
    depends_on:
      - mongo
    entrypoint: >
      bash -c 'sleep 5 && mongosh --host mongo:27017 --eval "rs.initiate({_id: \"rs0\", members: [{ _id: 0, host: \"mongo:27017\" }]})"'
    restart: "no"

  rocketchat:
    image: registry.rocket.chat/rocketchat/rocket.chat
    container_name: rocketchat
    restart: always
    environment:
      - MONGO_URL=mongodb://mongo:27017/rocketchat?replicaSet=rs0
      - MONGO_OPLOG_URL=mongodb://mongo:27017/local?replicaSet=rs0
      - ROOT_URL=http://34.133.204.140
      #  - CDN_PREFIX=https://chat-dev-clientportal.kickcharge.com
      - PORT=3000
      - DEPLOY_METHOD=docker
      # - EXIT_UNHANDLEDPROMISEREJECTION=true
      - BROKER_PORT=44000
    depends_on:
      - mongo
      - mongo-init-replica
    ports:
      - 3000:3000

volumes:
  rocketchat-mongo-temp: